.container {
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    border: solid rgb(18, 18, 18);
    height: 98%;
}

.app-container {
    width: 100%;
    height: 85%;
}

.canvas-container {
    margin: 10px;
    height: 75%;
    border: solid #000
}

.event-container {
    height: 20%;
    border: solid #000
}