<div class="properties-container">
  <p class="properties-header">Properties Panel</p>
  <label>Stroke Width</label>
  <mat-slider
    aria-label="units"
    min="1"
    max="5"
    step="0.5"
    #strokeWidth
    [disabled]="isDisabled"
    [value]="objProperties.strokeWidth"
    (change)="updateStrokeWidth(strokeWidth.value)"
  ></mat-slider>

  <div>
    <label>Stroke</label>
    <span>
      <input
        class="strokeColorContainer"
        type="color"
        #strokeColor
        [value]="objProperties.stroke"
        [disabled]="isDisabled"
        (change)="updateStrokeColor(strokeColor.value)"
      />
    </span>
  </div>

  <br />

  <div>
    <label>Fill</label>
    <span>
      <input
        class="fillColorContainer"
        type="color"
        #fill
        [disabled]="isDisabled"
        [value]="objProperties.fill"
        (change)="updateFill(fill.value)"
      />
    </span>
  </div>
  <br />
  <label> Angle</label>
  <span
    ><input
      type="number"
      #angle
      [disabled]="isDisabled"
      [value]="objProperties.angle"
      (change)="updateAngle(angle.value)"
  /></span>
  <br />
  <div *ngIf="this.isDisabled">
    <h4>
      {{ this.message }}
    </h4>
  </div>
</div>
