.properties-container {
    width: 250px;
    height: 96%;
    border: solid black;
    margin: 10px;
    padding-left: 10px
}

.properties-header {
    color: #1f1e1e;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
}


::ng-deep .mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
    background-color: rgb(65, 179, 228);
}

::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: black;
}

.strokeTextContainer,
.fillTextContainer {
    margin-right: 10px;
    width: 80px;
    height: 20px;
    float: right
}

.strokeColorContainer,
.fillColorContainer {
    margin-right: 5px;
    width: 40px;
    height: 25px;
    float: right
}



.color-container-fill {
    margin-left: 155px;
}

span {
    margin-left: 20px
}