<div class="object-container">
  <p class="object-header">Objects Palette</p>
  <mat-divider></mat-divider>
  <section>
    <div class="object-button-column">
      <a mat-raised-button id="rect" (click)="rectClickEvent()" color="primary" target="_blank">Rectangle</a>
      <br />
      <a mat-raised-button id="tri" (click)="triClickEvent()" color="primary" target="_blank">Triangle</a>
      <br />
      <a mat-raised-button id="circle" (click)="circleClickEvent()" color="primary" target="_blank">Circle</a>
    </div>
  </section>
</div>